
.customDiv{
	text-align: center;
	padding: 10px 0;
	background-color: #584b4f;
	color: #efeae1;
	font-size: 18px;
	height: 40px;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
	display: block;
}


.sideBar{
	background-color:#dcfbcc;
	padding-right: 5px;
	min-height:300px;

}

.mainBar{
	padding-left: 15px;

}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}

@-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 }
	to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
	from{ bottom:-100px; opacity:0 }
	to{ bottom:0; opacity:1 }
}


#cover{
	position:fixed;
	top:0; left:0;
	background:rgba(185, 185, 185, 0.37);
	z-index:5;
	width:100%;
	height:100%;
	display:block; }

	.restOutputClass{
		background-color: #f7f7f9;
		padding: 20px;
		font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	}


	.left-to-right {
		border-width:3px;
		-webkit-border-image:
		-webkit-gradient(linear, 100% 0, 0 100%, from(#4cd964), to(#007aff)) 100% 1;
	}

	.table tbody tr th.headerRest{
		vertical-align: middle;
	}

	.xddddx {
		margin: 10px auto;
		padding: 10px;
		border-top: 3px solid #3ACFD5;
		border-bottom: 3px solid #3a4ed5;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background-position: 0 0, 100% 0;
		background-repeat: no-repeat;
		-webkit-background-size: 4px 100%;
		-moz-background-size: 4px 100%;
		background-size: 4px 100%;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
		background-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
		background-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
		background-image: -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
		background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
	}

	.xxxx{
		box-shadow: inset 0 10px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
		border-color: #66afe9;
		border : 3px;
	}
	.outputChevron{
		float:right;
	}
	.toggleFullOutputText{
		float:right;
	}
	.restMethod{
		background-color:#c1d7e2;
		padding-right: 0px;
	}

	.restMethods{
		padding-left: 0px;
		padding-right: 0px;

	}




	.outputSection{
	}

	.copyResponseButton{
		text-align: right;
		padding-right: 0px;
	}

	textarea {
		width: 100%;
		height:auto;
		resize: vertical;/* user can resize vertically, but width is fixed */
	}

	.restSend{
		padding-left: 0px;
		padding-right: 0px;
		min-height:30px;

	}

	.historySection{
		min-height: 100px;
		text-align: center;
	}

	.restInputSection{
	}

	.headerRank{

	}

	.restInputDetails{
		padding: 10px;
	}

	.buttonsBar{
		padding: 10px 0px;
	}
	.removeLink{
		color: #d9534f;
		display:inline-block;
		text-align:center;
	}
	.removeLink:hover {
		font-weight:bold;
	}

	.bodyButton{
		border-bottom: 20px;
	}


	.restURLNOTValid{
		background-color: rgba(217, 83, 79, 0.29);
		border: 1px solid #ff3a3a;

	}

	.restURLValid{
		/*border: 1px solid #50881b;*/
		background-color: #dff1ba;
	}

.restURLValidInputClass{
}
	.restURLButtonClass{
		float: right;
		padding: 6px 30px;

	}

	.restErrorImagePlaceHolder{
		//	text-align: center;
	}

	.codeSectionDiv{
		background-color: #f5f5f5;
		border: 1px solid #ccc;
	}

	pre{
		border: none;
	}

	.errorSectionHeaderText{
		display: inline;
		padding-left: 5px;
	}

	.restSuccessScrollOverflow{
		padding: 60px 0px;
	}

	.fullOutputSectionHeader{
	}


	.copyResponseButtonLink {
		padding: 15px 30px;
	}

	.outputBlockHeading{
		margin-top: 0px;
	}


	.string { color: green; }
	.number { color: darkorange; }
	.boolean { color: blue; }
	.null { color: magenta; }

	.key {
		color: red;
		box-sizing: border-box;
		color: rgb(51, 51, 51);
		display: inline;
		font-family: "Ubuntu Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
		font-size: 16px;
		font-weight: bold;
		height: auto;
		line-height: 22.8571px;
		text-size-adjust: 100%;
		width: auto;
		webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	}
